aiohttp==3.13.2
dateparser==1.2.2
python-dotenv==1.2.1
fastapi==0.124.2
httpx==0.28.1
munch==4.0.0
PyYAML==6.0.3
streamlit==1.52.1
substack-api==1.1.1
twikit==2.3.3
uvicorn==0.38.0
youtube-transcript-api==1.2.3
